doctype html
html(lang='en')
    head 
        block head
            title Natours | Exciting tours for adventurous people
            link(rel='stylesheet', href='/css/style.css')
            link(rel='shortcut icon', href='/img/favicon.png', type='image/png')
            link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
            meta( charset='UTF-8')
            meta( name='viewport' content='width=device-width, initial-scale=1.0')
            script(src="/js/bundle.js" defer)
    body(data-alert= `${alert}`)
        //HEADER 
        include _header

        //CONTENT
        block content
            h2 Content section

        //FOOTER
        include _footer

